.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.item {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: var(--radius);
}

.image {
    object-fit: cover;
    transition: transform 0.5s ease;
}

.item:hover .image {
    transform: scale(1.1);
}